@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  z-index: 32;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.75);
  background-color: $header-bg;
  min-height: 60px;
  margin-bottom: 20px;
}

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::before {
  display: table;
  content: "";
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.float-left {
  float: left;
}

a {
  color: $anchor;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.text-gray-dark {
  color: $header-bg !important;
}

.float-right {
  float: right !important;
}
