.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  width: 233px;
}

.user-name {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 0;
}

.login-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 5px 0;
  color: $username;
}
