@import "variables";

.pagehead {
  padding-bottom: 0;
  background-color: $page-head;
  border-bottom: 1px solid $border-header;
}

.repohead-details-container {
  margin-bottom: 20px;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.repohead h1 {
  position: relative;
  float: left;
  max-width: 635px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 26px;
  color: $h1;
}

.repohead .pagehead-actions {
  position: relative;
  z-index: 31;
  float: right;
  margin: 0;
}
