$header-bg: #24292e;
$anchor: #0366d6;
$border-color: #d1d5da;
$username: #666;
$page-head: #fafbfc;
$border-header: #e1e4e8;
$h1: #586069;
$white: #fff;
$table-border: #dfe2e5;
$table-content: #eaecef;
$commit-tease-bg: #f1f8ff;
$commit-tease-border: #c8e1ff;
