body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.header {
  z-index: 32;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #24292e;
  min-height: 60px;
  margin-bottom: 20px; }

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto; }

.clearfix::before {
  display: table;
  content: ""; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

.float-left {
  float: left; }

a {
  color: #0366d6;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer; }

.pinned-repos-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between; }

.pinned-repo-item {
  display: flex;
  width: 359px;
  padding: 16px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-bottom: 16px; }

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  width: 233px; }

.user-name {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 0; }

.login-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 5px 0;
  color: #666; }

.pagehead {
  padding-bottom: 0;
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 60px;
  margin-top: -20px; }

.repohead-details-container {
  width: 980px;
  margin-right: auto;
  margin-left: auto; }

.repohead h1 {
  position: relative;
  float: left;
  max-width: 635px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 26px;
  color: #586069; }

.repohead .pagehead-actions {
  position: relative;
  z-index: 31;
  float: right;
  margin: 0; }

.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto; }

.commit-tease {
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  background-color: #f1f8ff;
  border: 1px solid #c8e1ff;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  min-height: 30px; }

table.files {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 10px;
  border: 1px solid #dfe2e5;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 0; }
  table.files tr:first-child td {
    border-top: 0; }
  table.files td {
    border-top: 1px solid #eaecef; }
    table.files td.content {
      max-width: 180px;
      padding: 6px 3px;
      line-height: 20px; }
    table.files td.icon {
      width: 17px;
      padding-right: 2px;
      padding-left: 10px;
      color: rgba(3, 47, 98, 0.55); }
      table.files td.icon .octicon-file-directory {
        color: rgba(3, 47, 98, 0.5); }
