body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.header {
  z-index: 32;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #24292e;
  min-height: 60px; }

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px; }

.clearfix::before {
  display: table;
  content: ""; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

.float-left {
  float: left; }

a {
  color: #0366d6;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer; }

.pinned-repos-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between; }

.pinned-repo-item {
  display: flex;
  width: 359px;
  padding: 16px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-bottom: 16px; }

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  width: 233px; }

.user-name {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 0; }

.login-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 5px 0;
  color: #666; }

.pagehead {
  padding-bottom: 0;
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8; }

.repohead-details-container {
  margin-bottom: 20px;
  width: 980px;
  margin-right: auto;
  margin-left: auto; }

.repohead h1 {
  position: relative;
  float: left;
  max-width: 635px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 26px;
  color: #586069; }

.repohead .pagehead-actions {
  position: relative;
  z-index: 31;
  float: right;
  margin: 0; }
